<form (ngSubmit)="save()" *ngIf="serviceForm" [formGroup]="serviceForm">
  <mat-form-field class="w-full">
    <mat-label>Название</mat-label>
    <input
      [formControl]="name"
      matInput
      placeholder="Название служения"
      type="text"
    />
    <mat-error *ngIf="name.hasError('required')">
      <strong>Обязательное</strong> поле.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Дата</mat-label>
    <input
      [formControl]="date"
      [matDatepicker]="picker"
      matInput
      placeholder="Дата служения"
    />
    <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="date.hasError('required')">
      <strong>Обязательное</strong> поле.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Ответственный за служение</mat-label>
    <mat-select [formControl]="leader">
      <mat-option disabled>Выбрать ответственного</mat-option>
      <mat-option *ngFor="let leader of leaders" [value]="leader._id">{{
        leader.name
        }}</mat-option>
    </mat-select>
    <mat-error *ngIf="leader.hasError('required')">
      <strong>Обязательное</strong> поле.
    </mat-error>
  </mat-form-field>

  <ws-select-instrument-dropdown
    (instrumentAdded)="addInstrumentToService($event)"
    [instruments]="instruments"
    [optionRemoved$]="instrumentRemoved$.asObservable()"
    [options]="instrumentOptions"
  ></ws-select-instrument-dropdown>


  <div *ngFor="let control of instrumentControls; let i = index">
    <ws-service-instrument-config (instrumentRemoved)="removeInstrument(i)" [control]="control"
                                  [instrumentAvailablePeople]="getPeopleForInstrument(control.value)"
                                  [name]="instrumentNames[i]"></ws-service-instrument-config>
  </div>

  <div class="mt-4">
    <button
      [disabled]="serviceForm.invalid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Сохранить
    </button>
  </div>
</form>
