<ws-loading-indicator [loading]="loading$ | async"></ws-loading-indicator>
<mat-card class="mx-2 my-3">
  <mat-card-header>
    <div class="flex align-content-center mb-5">
      <mat-card-title>Служения</mat-card-title>
      <a (click)="openTemplateDialog()" aria-label="Add new service" class="ml-4" color="primary" mat-mini-fab>
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="serviceDatasource" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Название</th>
        <td *matCellDef="let service" mat-cell>{{service.name}}</td>
      </ng-container>
      <ng-container matColumnDef="leader">
        <th *matHeaderCellDef mat-header-cell> Лидер</th>
        <td *matCellDef="let service" mat-cell>{{service.leader.name}}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell> Дата</th>
        <td *matCellDef="let service" mat-cell>{{service.date | date}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell> Действия</th>
        <td *matCellDef="let service" mat-cell>
          <a [routerLink]="['/', 'services', service._id, 'edit']" aria-label="Edit template" class="ml-4"
             color="primary" mat-icon-button>
            <mat-icon fontIcon="edit"></mat-icon>
          </a>
          <button (click)="openDeleteDialog(service)" aria-label="Delete service" class="ml-4" color="primary"
                  mat-icon-button>
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

  </mat-card-content>
</mat-card>

