<ws-loading-indicator [loading]="loading$ | async"></ws-loading-indicator>
<mat-card class="mx-2 my-3">
  <mat-card-header>
    <div class="flex align-content-center mb-5">
      <mat-card-title>Служения</mat-card-title>
      <a class="ml-4" routerLink="/services/add" mat-mini-fab aria-label="Add new service" color="primary">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="serviceDatasource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Название</th>
        <td mat-cell *matCellDef="let service">{{service.name}}</td>
      </ng-container>
      <ng-container matColumnDef="leader">
        <th mat-header-cell *matHeaderCellDef> Лидер </th>
        <td mat-cell *matCellDef="let service">{{service.leader.name}}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Дата</th>
        <td mat-cell *matCellDef="let service">{{service.date | date}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Действия</th>
        <td mat-cell *matCellDef="let service">
          <a class="ml-4" [routerLink]="['/', 'services', service._id, 'edit']" mat-icon-button
             aria-label="Edit template" color="primary">
            <mat-icon fontIcon="edit"></mat-icon>
          </a>
          <button class="ml-4" (click)="openDeleteDialog(service)" mat-icon-button aria-label="Delete service"
                  color="primary">
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>

