<mat-toolbar>
  <button mat-icon-button aria-label="Open toolbar" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>График прославления ЦВ</span>

</mat-toolbar>
<mat-sidenav-container class="nav-container" #sidenav>
  <mat-sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of links" [routerLink]="link.route">{{ link.value }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


