<div class="p-3">
  <h2 class="p-0" mat-dialog-title>{{header}}</h2>

  <form (ngSubmit)="submit()" *ngIf="rehearsalForm" [formGroup]="rehearsalForm">
    <mat-form-field class="w-full">
      <mat-label>Место</mat-label>
      <mat-select [formControl]="place">
        <mat-select-trigger>
          <span *ngIf="selectedPlace">{{selectedPlace.name}}; {{selectedPlace.address}}</span>
        </mat-select-trigger>
        <mat-option disabled>Выбрать место</mat-option>
        <mat-option *ngFor="let place of places"
                    [value]="place._id">
          <div class="py-2">
            <p class="m-0">{{place.name}}</p>
            <p class="m-0 text-xs text-color-secondary">{{place.address}}</p>
          </div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="place.hasError('required')">
        <strong>Обязательное</strong> поле.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full my-2">
      <mat-label>Дата</mat-label>
      <input
        [formControl]="date"
        [matDatepicker]="picker"
        matInput
        placeholder="Дата служения"
      />
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="date.hasError('required')">
        <strong>Обязательное</strong> поле.
      </mat-error>
    </mat-form-field>

    <div class="mt-4">
      <button (click)="close()" mat-raised-button type="button">Отмена</button>
      <button [disabled]="!rehearsalForm.valid" class="ml-3" color="primary"
              mat-raised-button type="submit">Сохранить
      </button>
    </div>
  </form>
</div>
